name: ruff
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  check-ruff-formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: 3.8
        cache: 'pip'
    - run: pip install ruff==0.9.8
    - run: ruff format --diff
